In [1]:
import numpy as np
import pandas as pd

In [2]:
users = pd.read_csv('users_data.csv')
ratings = pd.read_csv('ratings_data.csv')
products = pd.read_csv('products_data.csv', encoding='latin-1')

In [3]:
products.head()

,productId,prodname,desc,categ,condn,postedBy,desprodname,datepurchase
0,6537cfddab65f18bcdc0de70,Air Conditioner,1.5 ton Voltas A.C,Electronics,Nearly New,652e9eb6323e1fa3de6e54e2,Laptop,12-07-2023 14:06
1,6537d08fab65f18bcdc0de73,Hp Laptop,8 gb 512ssd,Electronics,Used,652e9eb6323e1fa3de6e54e2,Air Conditioner,15-03-2023 14:06
2,6537e64fef368ff0c28521ad,Yamaha FZ,1.5 cc in new condition,Vehicles,Used,65352935b16997995dfd921e,Burgman Scooter,11-07-2023 15:43
3,6537e6a9ef368ff0c28521ba,Iphone 14,48 mp camera 128gb storage,Electronics,Nearly New,65352935b16997995dfd921e,Samsung S23,10-07-2023 15:44
4,653e69298ebea0efba9222e3,Hyundai Verna,Hyundai Verna is a 5 seater Sedan Car and Auto...,Vehicles,Nearly New,65352935b16997995dfd921e,Honda City,14-05-2023 14:12

In [4]:
users.head()

                     userId  userName              userEmail  userPincode
0  652e9eb6323e1fa3de6e54e2     Hamza       hamza@amazon.com       400612
1  652ea190323e1fa3de6e54ed     Mohib       mohib@google.com       400050
2  65352935b16997995dfd921e  Om Shete  omshete0550@gmail.com       421503
3  653e6b378ebea0efba92241b    sanket       sanket@gmail.com       421503
4  653e714e8ebea0efba922549    shreya       shreya@gmail.com       421503

In [5]:
ratings.head()

,userId,productId,rating,comment
0,65352935b16997995dfd921e,6537e64fef368ff0c28521ad,4,"Good commuter Riding is excellent, Look and pe..."
1,65352935b16997995dfd921e,653e69298ebea0efba9222e3,1,Negatives: Disappointed with the parts which w...
2,653e6b378ebea0efba92241b,6537cfddab65f18bcdc0de70,3,My experience of Panasonic air conditioner was...
3,653e6b378ebea0efba92241b,6537e6a9ef368ff0c28521ba,4,The iPhone 14 is a very good phone for the mon...
4,653e714e8ebea0efba922549,653e71e28ebea0efba92254e,4,Very light weight\r\nFood cooks in minutes\r\n...

In [6]:
print(products.shape)
print(ratings.shape)
print(users.shape)

(21, 8)
(24, 4)
(8, 4)

In [7]:
products.isnull().sum()

productId       0
prodname        0
desc            0
categ           0
condn           0
postedBy        0
desprodname     0
datepurchase    0
dtype: int64

In [8]:
users.isnull().sum()

userId         0
userName       0
userEmail      0
userPincode    0
dtype: int64

In [9]:
ratings.isnull().sum()

userId       0
productId    0
rating       0
comment      0
dtype: int64

In [10]:
products.duplicated().sum()

0

In [11]:
ratings.duplicated().sum()

0

In [12]:
users.duplicated().sum()

0

## Popularity Based Recommendation

In [13]:
ratings_with_name = ratings.merge(products, on='productId')

In [14]:
num_rating_df = ratings_with_name.groupby('prodname').count()['rating'].reset_index()
num_rating_df.rename(columns={'rating':'num_ratings'}, inplace=True)
num_rating_df

                prodname  num_ratings
0        Air Conditioner            4
1   Apple iPhone 13 Pro             1
2         Aquaguard Aura            2
3              Hp Laptop            3
4          Hyundai Verna            2
5              Iphone 14            3
6             Iphone 14             1
7        It Ends with Us            1
8   Oneplus 9 SmartPhone            2
9      PHILIPS Air Fryer            2
10           Study Table            1
11             Yamaha FZ            2

In [15]:
avg_rating_df = ratings_with_name.groupby('prodname').mean()['rating'].reset_index()
avg_rating_df.rename(columns={'rating':'avg_ratings'}, inplace=True)
avg_rating_df

C:\Users\sayed\AppData\Local\Temp\ipykernel_28936\360386508.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating_df = ratings_with_name.groupby('prodname').mean()['rating'].reset_index()

                prodname  avg_ratings
0        Air Conditioner     3.000000
1   Apple iPhone 13 Pro      5.000000
2         Aquaguard Aura     4.500000
3              Hp Laptop     2.333333
4          Hyundai Verna     2.500000
5              Iphone 14     4.000000
6             Iphone 14      4.000000
7        It Ends with Us     5.000000
8   Oneplus 9 SmartPhone     3.000000
9      PHILIPS Air Fryer     4.500000
10           Study Table     3.000000
11             Yamaha FZ     3.500000

In [16]:
popular_df = num_rating_df.merge(avg_rating_df, on='prodname')
popular_df

                prodname  num_ratings  avg_ratings
0        Air Conditioner            4     3.000000
1   Apple iPhone 13 Pro             1     5.000000
2         Aquaguard Aura            2     4.500000
3              Hp Laptop            3     2.333333
4          Hyundai Verna            2     2.500000
5              Iphone 14            3     4.000000
6             Iphone 14             1     4.000000
7        It Ends with Us            1     5.000000
8   Oneplus 9 SmartPhone            2     3.000000
9      PHILIPS Air Fryer            2     4.500000
10           Study Table            1     3.000000
11             Yamaha FZ            2     3.500000

In [17]:
popular_df = popular_df[popular_df['num_ratings']>=1].sort_values('avg_ratings',ascending=False)

In [18]:
popular_df

                prodname  num_ratings  avg_ratings
1   Apple iPhone 13 Pro             1     5.000000
7        It Ends with Us            1     5.000000
2         Aquaguard Aura            2     4.500000
9      PHILIPS Air Fryer            2     4.500000
5              Iphone 14            3     4.000000
6             Iphone 14             1     4.000000
11             Yamaha FZ            2     3.500000
0        Air Conditioner            4     3.000000
8   Oneplus 9 SmartPhone            2     3.000000
10           Study Table            1     3.000000
4          Hyundai Verna            2     2.500000
3              Hp Laptop            3     2.333333

In [19]:
popular_df = popular_df.merge(products,on='prodname').drop_duplicates('prodname')

In [20]:
popular_df

,prodname,num_ratings,avg_ratings,productId,desc,categ,condn,postedBy,desprodname,datepurchase
0,Apple iPhone 13 Pro,1,5.000000,653e7b0959a8b6c4731e652d,"Apple iPhone 13 Pro 256 GB (Silver, 6 GB RAM)",Electronics,Used,653e79e259a8b6c4731e6528,Dining Table,15-11-2022 15:27
1,It Ends with Us,1,5.000000,653f7463acb96e6636719045,It Ends with Us: Special Collector's Edition: ...,Miscellaneous,Used,653e714e8ebea0efba922549,Verity by colleen hover,19-04-2023 09:14
2,Aquaguard Aura,2,4.500000,653e73e48ebea0efba9225aa,Aquaguard Aura RO+UV+UF+Taste Adjuster(MTDS) w...,Home Appliances,Nearly New,653e73328ebea0efba9225a5,Epson Printer,16-02-2023 14:59
3,PHILIPS Air Fryer,2,4.500000,653e71e28ebea0efba92254e,"PHILIPS Air Fryer HD9200/90, uses up to 90% le...",Home Appliances,Used,653e714e8ebea0efba922549,aquaguard,15-10-2021 14:51
4,Iphone 14,3,4.000000,6537e6a9ef368ff0c28521ba,48 mp camera 128gb storage,Electronics,Nearly New,65352935b16997995dfd921e,Samsung S23,10-07-2023 15:44
5,Iphone 14,1,4.000000,6540bc9f2ba8f7fe8af6cfbb,Apple iPhone 14 (128 GB) - Midnight\n,Electronics,Used,65352935b16997995dfd921e,Apple Watch SE series,22-12-2022 08:35
6,Yamaha FZ,2,3.500000,6537e64fef368ff0c28521ad,1.5 cc in new condition,Vehicles,Used,65352935b16997995dfd921e,Burgman Scooter,11-07-2023 15:43
7,Air Conditioner,4,3.000000,6537cfddab65f18bcdc0de70,1.5 ton Voltas A.C,Electronics,Nearly New,652e9eb6323e1fa3de6e54e2,Laptop,12-07-2023 14:06
8,Oneplus 9 SmartPhone,2,3.000000,653e6caa8ebea0efba922420,"OnePlus 9 Astral Black, 5G Unlocked Android Sm...",Electronics,Used,653e6b378ebea0efba92241b,Galaxy Watch4 Bluetooth (40mm),16-02-2022 14:25
9,Study Table,1,3.000000,653f71d7acb96e6636718f5a,"Solimo Fame MDF Study Desk(Walnut Finish,Brown)",Furniture,Used,653e714e8ebea0efba922549,Office Chair,03-11-2020 09:00
10,Hyundai Verna,2,2.500000,653e69298ebea0efba9222e3,Hyundai Verna is a 5 seater Sedan Car and Auto...,Vehicles,Nearly New,65352935b16997995dfd921e,Honda City,14-05-2023 14:12
11,Hp Laptop,3,2.333333,6537d08fab65f18bcdc0de73,8 gb 512ssd,Electronics,Used,652e9eb6323e1fa3de6e54e2,Air Conditioner,15-03-2023 14:06

## Collaborative Filtering Based Recommender System

In [21]:
X = ratings_with_name.groupby('userId').count()['rating']
effective_users = X.index

In [22]:
filtered_rating = ratings_with_name[ratings_with_name['userId'].isin(effective_users)]

In [23]:
Y = filtered_rating.groupby('prodname').count()['rating']
famous_books = Y.index

In [24]:
final_ratings = filtered_rating[filtered_rating['prodname'].isin(famous_books)]

In [25]:
final_ratings.drop_duplicates()

,userId,productId,rating,comment,prodname,desc,categ,condn,postedBy,desprodname,datepurchase
0,65352935b16997995dfd921e,6537e64fef368ff0c28521ad,4,"Good commuter Riding is excellent, Look and pe...",Yamaha FZ,1.5 cc in new condition,Vehicles,Used,65352935b16997995dfd921e,Burgman Scooter,11-07-2023 15:43
1,653f6a03acb96e6636718ba8,6537e64fef368ff0c28521ad,3,The Yamaha FZS-FI V3 is a streetfighter that e...,Yamaha FZ,1.5 cc in new condition,Vehicles,Used,65352935b16997995dfd921e,Burgman Scooter,11-07-2023 15:43
2,65352935b16997995dfd921e,653e69298ebea0efba9222e3,1,Negatives: Disappointed with the parts which w...,Hyundai Verna,Hyundai Verna is a 5 seater Sedan Car and Auto...,Vehicles,Nearly New,65352935b16997995dfd921e,Honda City,14-05-2023 14:12
3,653f6a03acb96e6636718ba8,653e69298ebea0efba9222e3,4,"his car is an excellent choice, offering both ...",Hyundai Verna,Hyundai Verna is a 5 seater Sedan Car and Auto...,Vehicles,Nearly New,65352935b16997995dfd921e,Honda City,14-05-2023 14:12
4,653e6b378ebea0efba92241b,6537cfddab65f18bcdc0de70,3,My experience of Panasonic air conditioner was...,Air Conditioner,1.5 ton Voltas A.C,Electronics,Nearly New,652e9eb6323e1fa3de6e54e2,Laptop,12-07-2023 14:06
5,653f6a03acb96e6636718ba8,6537cfddab65f18bcdc0de70,4,Value for money,Air Conditioner,1.5 ton Voltas A.C,Electronics,Nearly New,652e9eb6323e1fa3de6e54e2,Laptop,12-07-2023 14:06
6,653e714e8ebea0efba922549,6537cfddab65f18bcdc0de70,3,Compresser is too big.\r\nSwing door is not cl...,Air Conditioner,1.5 ton Voltas A.C,Electronics,Nearly New,652e9eb6323e1fa3de6e54e2,Laptop,12-07-2023 14:06
7,65352935b16997995dfd921e,6537cfddab65f18bcdc0de70,2,Cooling is not good. Complaint done 2 times in...,Air Conditioner,1.5 ton Voltas A.C,Electronics,Nearly New,652e9eb6323e1fa3de6e54e2,Laptop,12-07-2023 14:06
8,653e6b378ebea0efba92241b,6537e6a9ef368ff0c28521ba,4,The iPhone 14 is a very good phone for the mon...,Iphone 14,48 mp camera 128gb storage,Electronics,Nearly New,65352935b16997995dfd921e,Samsung S23,10-07-2023 15:44
9,653f6a03acb96e6636718ba8,6537e6a9ef368ff0c28521ba,5,iPhone 14 I like. Initially I want to buy iPho...,Iphone 14,48 mp camera 128gb storage,Electronics,Nearly New,65352935b16997995dfd921e,Samsung S23,10-07-2023 15:44
10,65352935b16997995dfd921e,6537e6a9ef368ff0c28521ba,3,No fingerprint option,Iphone 14,48 mp camera 128gb storage,Electronics,Nearly New,65352935b16997995dfd921e,Samsung S23,10-07-2023 15:44
11,653e714e8ebea0efba922549,653e71e28ebea0efba92254e,4,Very light weight\r\nFood cooks in minutes\r\n...,PHILIPS Air Fryer,"PHILIPS Air Fryer HD9200/90, uses up to 90% le...",Home Appliances,Used,653e714e8ebea0efba922549,aquaguard,15-10-2021 14:51
12,65352935b16997995dfd921e,653e71e28ebea0efba92254e,5,Amazing product. Just required 1/4 teaspoon of...,PHILIPS Air Fryer,"PHILIPS Air Fryer HD9200/90, uses up to 90% le...",Home Appliances,Used,653e714e8ebea0efba922549,aquaguard,15-10-2021 14:51
13,65352935b16997995dfd921e,653e7b0959a8b6c4731e652d,5,Chumma meri jaan,Apple iPhone 13 Pro,"Apple iPhone 13 Pro 256 GB (Silver, 6 GB RAM)",Electronics,Used,653e79e259a8b6c4731e6528,Dining Table,15-11-2022 15:27
14,653f6a03acb96e6636718ba8,6537d08fab65f18bcdc0de73,1,Laptop box genuine HP seal was broken and repl...,Hp Laptop,8 gb 512ssd,Electronics,Used,652e9eb6323e1fa3de6e54e2,Air Conditioner,15-03-2023 14:06
15,653e714e8ebea0efba922549,6537d08fab65f18bcdc0de73,2,"DON'T BUY Worst Sound Quality , Touch pad issu...",Hp Laptop,8 gb 512ssd,Electronics,Used,652e9eb6323e1fa3de6e54e2,Air Conditioner,15-03-2023 14:06
16,65352935b16997995dfd921e,6537d08fab65f18bcdc0de73,4,aptop looks stylish and looks premium however ...,Hp Laptop,8 gb 512ssd,Electronics,Used,652e9eb6323e1fa3de6e54e2,Air Conditioner,15-03-2023 14:06
17,653e714e8ebea0efba922549,653e73e48ebea0efba9225aa,5,Product quality is good . It's is also a very ...,Aquaguard Aura,Aquaguard Aura RO+UV+UF+Taste Adjuster(MTDS) w...,Home Appliances,Nearly New,653e73328ebea0efba9225a5,Epson Printer,16-02-2023 14:59
18,65352935b16997995dfd921e,653e73e48ebea0efba9225aa,4,It has been three months the product is perfor...,Aquaguard Aura,Aquaguard Aura RO+UV+UF+Taste Adjuster(MTDS) w...,Home Appliances,Nearly New,653e73328ebea0efba9225a5,Epson Printer,16-02-2023 14:59
19,653e714e8ebea0efba922549,653e6caa8ebea0efba922420,3,Phone was good satisfied.... but there is no r...,Oneplus 9 SmartPhone,"OnePlus 9 Astral Black, 5G Unlocked Android Sm...",Electronics,Used,653e6b378ebea0efba92241b,Galaxy Watch4 Bluetooth (40mm),16-02-2022 14:25
20,65352935b16997995dfd921e,653e6caa8ebea0efba922420,3,Good mobile phone camera is so far better & pe...,Oneplus 9 SmartPhone,"OnePlus 9 Astral Black, 5G Unlocked Android Sm...",Electronics,Used,653e6b378ebea0efba92241b,Galaxy Watch4 Bluetooth (40mm),16-02-2022 14:25
21,65352935b16997995dfd921e,653f7463acb96e6636719045,5,It is good and engaging.,It Ends with Us,It Ends with Us: Special Collector's Edition: ...,Miscellaneous,Used,653e714e8ebea0efba922549,Verity by colleen hover,19-04-2023 09:14
22,65352935b16997995dfd921e,653f71d7acb96e6636718f5a,3,"Quality is good, easy to install. Product imag...",Study Table,"Solimo Fame MDF Study Desk(Walnut Finish,Brown)",Furniture,Used,653e714e8ebea0efba922549,Office Chair,03-11-2020 09:00
23,65352935b16997995dfd921e,6540bc9f2ba8f7fe8af6cfbb,4,"Awesome battery backup amazing camera, an all-...",Iphone 14,Apple iPhone 14 (128 GB) - Midnight\n,Electronics,Used,65352935b16997995dfd921e,Apple Watch SE series,22-12-2022 08:35

In [26]:
pt = final_ratings.pivot_table(index='prodname',columns='userId',values='rating')

In [27]:
pt

userId,65352935b16997995dfd921e,653e6b378ebea0efba92241b,653e714e8ebea0efba922549,653f6a03acb96e6636718ba8
prodname,,,,
Air Conditioner,2.0,3.0,3.0,4.0
Apple iPhone 13 Pro,5.0,NaN,NaN,NaN
Aquaguard Aura,4.0,NaN,5.0,NaN
Hp Laptop,4.0,NaN,2.0,1.0
Hyundai Verna,1.0,NaN,NaN,4.0
Iphone 14,3.0,4.0,NaN,5.0
Iphone 14,4.0,NaN,NaN,NaN
It Ends with Us,5.0,NaN,NaN,NaN
Oneplus 9 SmartPhone,3.0,NaN,3.0,NaN
PHILIPS Air Fryer,5.0,NaN,4.0,NaN
Study Table,3.0,NaN,NaN,NaN
Yamaha FZ,4.0,NaN,NaN,3.0

In [28]:
pt.fillna(0, inplace=True)

In [29]:
pt

userId,65352935b16997995dfd921e,653e6b378ebea0efba92241b,653e714e8ebea0efba922549,653f6a03acb96e6636718ba8
prodname,,,,
Air Conditioner,2.0,3.0,3.0,4.0
Apple iPhone 13 Pro,5.0,0.0,0.0,0.0
Aquaguard Aura,4.0,0.0,5.0,0.0
Hp Laptop,4.0,0.0,2.0,1.0
Hyundai Verna,1.0,0.0,0.0,4.0
Iphone 14,3.0,4.0,0.0,5.0
Iphone 14,4.0,0.0,0.0,0.0
It Ends with Us,5.0,0.0,0.0,0.0
Oneplus 9 SmartPhone,3.0,0.0,3.0,0.0
PHILIPS Air Fryer,5.0,0.0,4.0,0.0
Study Table,3.0,0.0,0.0,0.0
Yamaha FZ,4.0,0.0,0.0,3.0

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

In [31]:
similarity_scores = cosine_similarity(pt)

In [32]:
similarity_scores.shape

(12, 12)

In [40]:
print(pt)

userId                65352935b16997995dfd921e  653e6b378ebea0efba92241b  \
prodname
Air Conditioner                            2.0                       3.0
Apple iPhone 13 Pro                        5.0                       0.0
Aquaguard Aura                             4.0                       0.0
Hp Laptop                                  4.0                       0.0
Hyundai Verna                              1.0                       0.0
Iphone 14                                  3.0                       4.0
Iphone 14                                  4.0                       0.0
It Ends with Us                            5.0                       0.0
Oneplus 9 SmartPhone                       3.0                       0.0
PHILIPS Air Fryer                          5.0                       0.0
Study Table                                3.0                       0.0
Yamaha FZ                                  4.0                       0.0

userId                653e714e8ebea0efba922549  653f6a03acb96e6636718ba8
prodname
Air Conditioner                            3.0                       4.0
Apple iPhone 13 Pro                        0.0                       0.0
Aquaguard Aura                             5.0                       0.0
Hp Laptop                                  2.0                       1.0
Hyundai Verna                              0.0                       4.0
Iphone 14                                  0.0                       5.0
Iphone 14                                  0.0                       0.0
It Ends with Us                            0.0                       0.0
Oneplus 9 SmartPhone                       3.0                       0.0
PHILIPS Air Fryer                          4.0                       0.0
Study Table                                0.0                       0.0
Yamaha FZ                                  0.0                       3.0

In [38]:
def recommend(product_name):
    # index fetch
    index = np.where(pt.index==product_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = products[products['prodname'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('prodname')['prodname'].values))
        item.extend(list(temp_df.drop_duplicates('prodname')['postedBy'].values))
        
        data.append(item)
    
    return data

In [46]:
recommend('Aquaguard Aura')

[['Oneplus 9 SmartPhone', '653e6b378ebea0efba92241b'],
 ['PHILIPS Air Fryer', '653e714e8ebea0efba922549'],
 ['Hp Laptop', '652e9eb6323e1fa3de6e54e2'],
 ['Apple iPhone 13 Pro ', '653e79e259a8b6c4731e6528']]

In [47]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [48]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(products,open('products.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

In [50]:
pt.index[0]

'Air Conditioner'

In [51]:
index = np.where(pt.index=='Air Conditioner')[0][0]
index

0